1. Escreva um código que lê a lista abaixo e faça:

lista = <code>[16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]</code>

  - A leitura do tamanho da lista
  - A leitura do maior e menor valor
  - A soma dos valores da lista

Ao final exiba uma mensagem dizendo:

    "A lista possui [tam] números em que o maior número é [maior] e o menor número é [menor]. A soma dos valores presentes nela é igual a [soma]"

In [ ]:
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]
tam = len(lista)
maior = max(lista)
menor = min(lista)
soma = sum(lista)

print(f"A lista possui {tam} números em que o maior número é {maior} e o menor número é {menor}. A soma dos valores presentes nela é igual a {soma}")

A lista possui 17 números em que o maior número é 99 e o menor número é 11. A soma dos valores presentes nela é igual a 743

2. Escreva uma função que gere a tabuada de um número inteiro de 1 a 10, de acordo com a escolha da pessoa usuária. Como exemplo, para o número 7, a tabuada deve ser mostrada no seguinte formato:

        Tabuada do 7:
        7 x 0 = 0
        7 x 1 = 7
        [...]
        7 x 10 = 70

In [ ]:
#Sol 1
def tabuada (num: int):
  inteiros = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
  print(f'Tabuada do {num}: \n')
  for i in inteiros:
    print(f'{num} X {inteiros[i]}  = {num * inteiros[i]} \n')

In [ ]:
#Sol 2
def tabuada (num: int):
  inteiros = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
  print(f'Tabuada do {num}: \n')
  for i in inteiros:
    print(f'{num} X {inteiros[i]}  = {num * inteiros[i]} \n')

In [ ]:
tabuada(9)

Tabuada do 9:

9 X 0  = 0

9 X 1  = 9

9 X 2  = 18

9 X 3  = 27

9 X 4  = 36

9 X 5  = 45

9 X 6  = 54

9 X 7  = 63

9 X 8  = 72

9 X 9  = 81

9 X 10  = 90

## Desafios Aula 3

1. Crie um código para imprimir a soma dos elementos de cada uma das listas contidas na seguinte lista:

        lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

In [ ]:
# prompt:       Crie um código para imprimir a soma dos elementos de cada uma das listas contidas na seguinte lista:       lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

for lista in lista_de_listas:
  soma = 0
  for numero in lista:
    soma += numero
  print(f'A soma dos elementos da lista {lista} é igual a {soma}')

A soma dos elementos da lista [4, 6, 5, 9] é igual a 24
A soma dos elementos da lista [1, 0, 7, 2] é igual a 10
A soma dos elementos da lista [3, 4, 1, 8] é igual a 16

In [21]:
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

for lista in lista_de_listas:
  print(f'A soma dos elementos da lista {lista} é igual a {sum(lista)}')

A soma dos elementos da lista [4, 6, 5, 9] é igual a 24
A soma dos elementos da lista [1, 0, 7, 2] é igual a 10
A soma dos elementos da lista [3, 4, 1, 8] é igual a 16

2. Crie um código para gerar uma lista que armazena o terceiro elemento de cada tupla contida na seguinte lista de tuplas:

        lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

In [ ]:
# prompt: 2. Crie um código para gerar uma lista que armazena o terceiro elemento de cada tupla contida na seguinte lista de tuplas:  lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
lista_de_terceiros = [tupla[2] for tupla in lista_de_tuplas]
lista_de_terceiros

[81, 67, 83]

In [22]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
lista = []
for tupla in lista_de_tuplas:
  lista.append(tupla[2])
print(lista)

[81, 67, 83]

3. A partir da lista: lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo'], crie um código para gerar uma lista de tuplas em que cada tupla tenha o primeiro elemento como a posição do nome na lista original e o segundo elemento sendo o próprio nome.

In [ ]:
# prompt: 3. A partir da lista: lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo'], crie um código para gerar uma lista de tuplas em que cada tupla tenha o primeiro elemento como a posição do nome na lista original e o segundo elemento sendo o próprio nome.

lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']
lista_de_tuplas = [(i, nome) for i, nome in enumerate(lista)]
lista_de_tuplas

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

In [26]:
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']
lista_de_tuplas = []
for i in range(len(lista)):
    lista_de_tuplas.append((i, lista[i]))
lista_de_tuplas

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

4. Crie uma lista usando o list comprehension que armazena somente o valor numérico de cada tupla caso o primeiro elemento seja 'Apartamento', a partir da seguinte lista de tuplas:

        aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

In [ ]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]
lista_numerica = [aluguel[i][1] for i in range(len(aluguel)) if aluguel[i][0] == "Apartamento"]
lista_numerica

[1700, 1400, 1900]

5. Crie um dicionário usando o dict comprehension em que as chaves estão na lista meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'] e os valores estão em despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360].

In [ ]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

dict_comprehenson = {meses[i] : despesa[i] for i in range(len(meses))}
dict_comprehenson

{'Jan': 860,
 'Fev': 490,
 'Mar': 1010,
 'Abr': 780,
 'Mai': 900,
 'Jun': 630,
 'Jul': 590,
 'Ago': 770,
 'Set': 620,
 'Out': 560,
 'Nov': 840,
 'Dez': 360}

###Aplicando a projetos

6. Uma loja possui um banco de dados com a informação de venda de cada representante e de cada ano e precisa filtrar somente os dados do ano 2022 com venda maior do que 6000. A loja forneceu uma amostra contendo apenas as colunas com os anos e os valores de venda para que você ajude a realizar a filtragem dos dados a partir de um código:

        vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]
Crie uma lista usando list comprehension para filtrar os valores de 2022 e que sejam maiores que 6000.

In [ ]:
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]
filtro = [ [vendas[i][0], vendas[i][1]] for i in range(len(vendas)) if (vendas[i][0] == "2022") & (vendas[i][1] > 6000)]
filtro

[['2022', 8883], ['2022', 7688], ['2022', 9544], ['2022', 8190]]

7. Uma clínica analisa dados de pacientes e armazena o valor numérico da glicose em um banco de dados e gostaria de rotular os dados da seguinte maneira:

    - Glicose igual ou inferior a 70: 'Hipoglicemia'
    - Glicose entre 70 a 99: 'Normal'
    - Glicose entre 100 e 125: 'Alterada'
    - Glicose superior a 125: 'Diabetes'

A clínica disponibilizou parte dos valores e sua tarefa é criar uma lista de tuplas usando list comprehension contendo o rótulo e o valor da glicemia em cada tupla.

        glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

In [ ]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]
rotulo = ["Hipoglicemia", "Normal", "Alterada", "Diabetes"]
analise_glicose = [(rotulo[0], glicemia[i]) if glicemia[i] <= 70 else (rotulo[1], glicemia[i]) if glicemia[i] <= 99 else
                   (rotulo[2], glicemia[i]) if glicemia[i] <= 125 else (rotulo[3], glicemia[i]) for i in range(len(glicemia))]
analise_glicose

[('Diabetes', 129),
 ('Normal', 82),
 ('Hipoglicemia', 60),
 ('Normal', 97),
 ('Alterada', 101),
 ('Hipoglicemia', 65),
 ('Hipoglicemia', 62),
 ('Diabetes', 167),
 ('Normal', 87),
 ('Hipoglicemia', 53),
 ('Hipoglicemia', 58),
 ('Normal', 92),
 ('Hipoglicemia', 66),
 ('Alterada', 120),
 ('Alterada', 109),
 ('Hipoglicemia', 62),
 ('Normal', 86),
 ('Normal', 96),
 ('Alterada', 103),
 ('Normal', 88),
 ('Diabetes', 155),
 ('Hipoglicemia', 52),
 ('Normal', 89),
 ('Normal', 73)]

8. Um e-commerce possui as informações de id de venda, quantidade vendida e preço do produto divididos nas seguintes listas:

        id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
        quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
        preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

O e-commerce precisa estruturar esses dados em uma tabela contendo o valor total da venda, que é obtida multiplicando a quantidade pelo preço unitário. Além disso, a tabela precisa conter um cabeçalho indicando as colunas: 'id', 'quantidade', 'preco' e 'total'.

Crie uma lista de tuplas em que cada tupla tenha id, quantidade, preço e valor total, na qual a primeira tupla é o cabeçalho da tabela.

In [ ]:
# prompt:       Um e-commerce possui as informações de id de venda, quantidade vendida e preço do produto divididos nas seguintes listas:       id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]      quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]      preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]  O e-commerce precisa estruturar esses dados em uma tabela contendo o valor total da venda, que é obtida multiplicando a quantidade pelo preço unitário. Além disso, a tabela precisa conter um cabeçalho indicando as colunas: 'id', 'quantidade', 'preco' e 'total'.  Crie uma lista de tuplas em que cada tupla tenha id, quantidade, preço e valor total, na qual a primeira tupla é o cabeçalho da tabela.

id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

tuplas = [(str(i), quantidade[i], preco[i], preco[i] * quantidade[i]) for i in range(len(id))]
tuplas.insert(0, ('id', 'quantidade', 'preco', 'total'))
tuplas

[('id', 'quantidade', 'preco', 'total'),
 ('0', 15, 93.0, 1395.0),
 ('1', 12, 102.0, 1224.0),
 ('2', 1, 18.0, 18.0),
 ('3', 15, 41.0, 615.0),
 ('4', 2, 122.0, 244.0),
 ('5', 11, 14.0, 154.0),
 ('6', 2, 71.0, 142.0),
 ('7', 12, 48.0, 576.0),
 ('8', 2, 14.0, 28.0),
 ('9', 4, 144.0, 576.0)]

In [ ]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
tabela = [("id", "quantidade", "preco", "total")]
for i in id:
  tabela.append((id[i],quantidade[i],preco[i],quantidade[i]*preco[i]))
tabela

[('id', 'quantidade', 'preco', 'total'),
 (0, 15, 93.0, 1395.0),
 (1, 12, 102.0, 1224.0),
 (2, 1, 18.0, 18.0),
 (3, 15, 41.0, 615.0),
 (4, 2, 122.0, 244.0),
 (5, 11, 14.0, 154.0),
 (6, 2, 71.0, 142.0),
 (7, 12, 48.0, 576.0),
 (8, 2, 14.0, 28.0),
 (9, 4, 144.0, 576.0)]

9. Uma empresa possui filiais espalhadas nos Estados da região Sudeste do Brasil. Em uma das tabelas de cadastro das filiais há uma coluna contendo a informação de qual é o Estado a que pertence:
        estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG'].

A empresa sempre está abrindo novas filiais, de modo que a tabela está constantemente recebendo novos registros e o gestor gostaria de possuir a informação atualizada da quantidade de filiais em cada Estado.

A partir da coluna com a informação dos Estados, crie um dicionário usando dict comprehension com a chave sendo o nome de um Estado e o valor sendo a contagem de vezes em que o Estado aparece na lista.

    Dica: Você pode fazer um passo intermediário para gerar uma lista de listas em que cada uma das listas possui o nome de apenas um Estado com valores repetidos.

In [ ]:
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']
qtd_filiais = {uf: estados.count(uf) for uf in estados}
qtd_filiais

{'SP': 8, 'ES': 6, 'MG': 7, 'RJ': 2}

10. Nessa mesma tabela de cadastro de filiais, há uma coluna com as informações da quantidade de pessoas colaboradoras e o(a) gestor(a) gostaria de ter um agrupamento da soma dessas pessoas para cada estado. As informações contidas na tabela são:

        funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]

A partir da lista de tuplas, crie um dicionário em que as chaves são os nomes dos Estados únicos e os valores são as listas com o número de colaboradores(as) referentes ao Estado. Crie também um dicionário em que as chaves são os nomes dos Estados e os valores são a soma de colaboradores(as) por Estado.

    Dica: Você pode fazer um passo intermediário para gerar uma lista de listas em que cada uma das listas possui apenas os valores numéricos de funcionários(as) de cada Estado.

In [23]:
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]

lista = [[estado, colaborador] for estado, colaborador in funcionarios]
dicionario_estados = {estado: [qtd for uf, qtd in lista if uf == estado] for estado,_ in funcionarios}
dicionario_colaboradores = {estado: sum(colaboradores) for estado, colaboradores in dicionario_estados.items()}
dicionario_colaboradores

{'SP': 82, 'ES': 58, 'MG': 54, 'RJ': 22}